@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.app-header {
  @include flex-column(center, flex-start, $space-4);
  margin-bottom: $space-4;
  text-align: center;

  @include responsive(sm) {
    align-items: center;
    justify-content: space-between;
    margin-bottom: $space-6;
  }

  @include responsive(md) {
    margin-bottom: $space-8;
  }

  &__titles {
    max-width: 100%;

    @media (min-width: $breakpoint-sm) {
      max-width: 100%;
    }

    @media (min-width: $breakpoint-lg) {
      max-width: 32rem;
    }
  }

  &__title {
    font-size: px-to-rem(24);
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: line-height-from-rem(1.5, 1.2);
    margin-bottom: $space-2;
    color: $color-light-text;

    @media (min-width: $breakpoint-sm) {
      font-size: px-to-rem(32);
      line-height: line-height-from-rem(2, 1.2);
    }

    @media (min-width: $breakpoint-md) {
      font-size: px-to-rem(40);
      line-height: line-height-from-rem(2.5, 1.2);
      margin-bottom: $space-3;
    }
  }

  &__subtitle {
    font-size: px-to-rem(14.4);
    color: $color-light-text-muted;
    line-height: line-height-from-rem(0.9, 1.5);
    font-weight: 400;

    @media (min-width: $breakpoint-sm) {
      font-size: px-to-rem(16);
      line-height: line-height-from-rem(1, 1.5);
    }

    @media (min-width: $breakpoint-md) {
      font-size: px-to-rem(17.6);
      line-height: line-height-from-rem(1.1, 1.5);
    }
  }

  .app-root--theme-dark & {
    &__title {
      color: $color-dark-text;
    }

    &__subtitle {
      color: $color-dark-text-muted;
    }
  }

  &__actions {
    @include flex-column(center, center, $space-2);

    @include responsive(sm) {
      flex-direction: row;
      gap: $space-3;
    }
  }

  // Ensure button in header actions has proper width (override MUI styles with higher specificity)
  &__actions .button {
    width: auto;
    max-width: fit-content;
  }
}
