@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.spinner {
  @include flex-center;
  width: rem(48);
  height: rem(48);
  position: relative;

  &__circle {
    width: 100%;
    height: 100%;
    border: 3px solid rgba(59, 130, 246, 0.2);
    border-top-color: $color-light-accent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }

  .app-root--theme-dark & {
    &__circle {
      border-color: rgba(96, 165, 250, 0.2);
      border-top-color: $color-dark-accent;
    }
  }
}
