@use "sass:math";
@use "../../abstracts/variables" as *;

.users-list {
  margin-top: $space-4;
  display: flex;
  flex-direction: column;
  gap: $space-4;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: 640px) {
    margin-top: $space-6;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $space-5;
  }

  @media (min-width: $breakpoint-md) {
    margin-top: $space-8;
  }

  @media (min-width: $breakpoint-lg) {
    gap: $space-6;
  }

  > * {
    min-width: 0;
    max-width: 100%;
    flex: 0 0 100%;

    @media (min-width: 640px) {
      flex: 0 0 calc(50% - #{math.div($space-5, 2)});
      max-width: calc(50% - #{math.div($space-5, 2)});
    }

    @media (min-width: $breakpoint-lg) {
      flex: 0 0 calc(33.333% - #{math.div($space-6 * 2, 3)});
      max-width: calc(33.333% - #{math.div($space-6 * 2, 3)});
    }

    @media (min-width: $breakpoint-xl) {
      flex: 0 0 calc(25% - #{math.div($space-6 * 3, 4)});
      max-width: calc(25% - #{math.div($space-6 * 3, 4)});
    }
  }
}
