@use "sass:math";
@use "../../abstracts/variables" as *;

.users-list {
  margin-top: $space-4;
  display: flex;
  flex-direction: column;
  gap: $space-4;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $breakpoint-sm) {
    margin-top: $space-6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    align-items: stretch;
    gap: $space-5;
  }

  @media (min-width: $breakpoint-md) {
    margin-top: $space-8;
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(3, 1fr);
    gap: $space-6;
  }

  @media (min-width: $breakpoint-xl) {
    grid-template-columns: repeat(4, 1fr);
  }

  > * {
    min-width: 0;
    width: 100%;
    height: 100%;
  }
}
