@use "../abstracts/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: $font-family-sans;
  color: $color-light-text;
  background: $color-light-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}

p {
  margin: 0;
}

button,
input,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

